
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~bootstrap/dist/css/bootstrap.min.css";

.counters {

}

strong {
font-szie: 2em;
}

.vote, .answer {

}

.status {
	&.unanswered {
		border: none;
	}
	&.answered{
		border: 1px solid $color-green;
		color: $color-green;
	}
	&.answered-accepted{
		background-color: $color-green;
		color: $color-white;
	}
}